@import './variables.scss';

html,
body {
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: $black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins";
}
button{
  border: 0px;
  background: gray;
  font-size: 30px;
  font-weight: 700;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba($primary-color, .3);
  background: transparent;
  opacity: 50%;
  border-radius: 3px;
  height: 1px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 2px;
  background: transparent;
  opacity: 70%;
  border-radius: 2px;
  @media screen and (max-width: 991px) {
    width: 7px;
    background: none;
  }
}

::-webkit-scrollbar-thumb {
  background: #ffffff3b;
  border-radius: 6px;
  opacity: 50%;
}

