@import "../../assets/scss/variables.scss";

.home-wrapper {
  background: $gray;
  color: $black;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;

  .card-wrapper {
    background: $white;
    border-radius: 10px;
    padding: 32px 32px 32px 48px;
    max-width: 50%;
    @media screen and (max-width: 767px) {
      max-width: 100%;
    }

    .card-header {
      display: flex;
      flex-direction: column;
      padding-bottom: 16px;
      border-bottom: 1px solid $gray;
      gap: 10px;

      .card-upper-section {
        display: flex;
        align-items: center;
        gap: 16px;

        .name {
          font-size: 24px;
          font-style: italic;
          @media screen and (max-width: 767px) {
            font-size: 16px;
          }
        }
        img {
          width: 24px;
          height: 24px;
          cursor: pointer;
          @media screen and (max-width: 767px) {
            width: 16px;
            height: 16px;
          }
        }
        .splitter {
          border-left: 1px solid $gray;
          width: 1px;
          height: 24px;
          @media screen and (max-width: 767px) {
            height: 16px;
          }
        }
      }
      .card-below-section {
        display: flex;
        align-items: center;

        .title {
          font-size: 18px;
          @media screen and (max-width: 767px) {
            font-size: 12px;
          }
        }
        .location {
          color: $text-secondary;
          margin-left: 30px;
          position: relative;
          font-size: 18px;
          @media screen and (max-width: 767px) {
            font-size: 12px;
            margin-left: 20px;
          }

          &::before {
            position: absolute;
            content: "";
            left: -15px;
            top: 50%;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $text-secondary;
            transform: translate(0, -50%);
          }
        }
      }
    }
    .card-content {
      .experience-section {
        display: flex;
        gap: 48px;
        padding-top: 32px;
        @media screen and (max-width: 767px) {
          flex-direction: column;
          gap: 16px;
        }

        span {
          font-size: 16px;
          font-style: italic;
          min-width: 96px;
          @media screen and (max-width: 767px) {
            font-size: 12px;
          }
        }
        .experience-wrapper {
          display: flex;
          flex-direction: column;
          gap: 16px;
          .experience {
            display: flex;
            align-items: center;
            gap: 12px;
            position: relative;

            &::before {
              position: absolute;
              content: "";
              left: -25px;
              top: 50%;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: $gray;
              transform: translate(0, -50%);
            }
            img {
              width: 24px;
              height: 24px;
              @media screen and (max-width: 767px) {
                width: 16px;
                height: 16px;
              }
            }
            span {
              font-size: 16px;
              font-style: normal;
              white-space: nowrap;
              overflow: hidden;
              
              @media screen and (max-width: 767px) {
                font-size: 12px;
                max-width: 240px;
              }
            }
          }
          .experience.isNotLast {
            &::after {
              position: absolute;
              content: "";
              left: -21px;
              top: 20px;
              width: 1px;
              height: 25px;
              background: $gray;
              @media screen and (max-width: 767px) {
                top: 15px;
                height: 18px;
              }
            }
          }
        }
      }
    }
  }
}
